@tailwind base;

@tailwind components;

@tailwind utilities;

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.neumorphic {
  background: #e0e5ec;
  box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
}

.neumorphic-inset {
  background: #e0e5ec;
  box-shadow: inset 9px 9px 16px rgb(163,177,198,0.6), inset -9px -9px 16px  rgba(255,255,255, 0.5);
}

.react-calendar {
  width: 100%;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.last-drink-date {
  background-color: #ff6b6b;
  color: white;
}

.drink-history-date {
  background-color: #4ecdc4;
  color: white;
}